wandb
closedbook-qa
t5_trivia_qa_closedbook
lightning_logs
outputs
triviaQA/unfiltered-web-dev.json
triviaQA/unfiltered-web-test-without-answers.json
triviaQA/context.csv
nohup*
.vscode
tmp
recentQA
triviaQA
lama